.img-fluid {
  display: flex;
  height: auto;
  width: 50%; /* Default width for smaller screens */
  
  /* Responsive styles */
  @media screen and (min-width: 576px) {
    width: 40%; /* Adjust width for medium-sized screens */
  }

  @media screen and (min-width: 768px) {
    width: 30%; /* Adjust width for larger screens */
  }
}
