/* Mobile-first styles */
.map-container {
  width: 100%;
  height: 300px; /* Default height for mobile devices */
}

h1 {
  padding: 0 30px;
}

h3{
  height: 30px;
}

p{
  height:30px;
}

.map {
  width: 100%;
  height: 100%;
}

.locations{
  display: flex;
  justify-content: space-around;
}

.location{
  display: flex;
  flex-direction: column;
  width: 200px;
  @media screen and (min-width:576px) {
    width:400px;
  }
}

.close-button{
  width: 100%;
}

/* Responsive styles */
@media screen and (min-width: 576px) {
  .map-container {
    height: 350px; /* Adjusted height for medium-sized screens */
  }
}

@media screen and (min-width: 768px) {
  .map-container {
    height: 400px; /* Adjusted height for larger screens */
  }
}
